header {
   padding: 80px;
   height: 200px;
   background-color: rgb(116, 112, 112);
   /*font-size: xx-large;
   font-family: 'Raleway Medium,' 'sans serif'; 
   text-align: right;
   font-weight: bold;*/
   }
/*.nav{
  display:flex;
  flex-direction:row;
  align-items: left;
  padding: 10px;
  justify-content:flex-start;
  height: 100px;
}*/
.ulnav{
height: 100px;
display: flex;
flex-direction: row;
/*padding-left: 30px;
padding-right: 50%;*/
align-items: center;
padding-top: 20px;
/*text-align: right;
align-items: right;*/
justify-content: space-around;
font-size:x-large;
font-family: 'Raleway light';
position: fixed;
top:0; left: 0; bottom: 0px;
width: 100%;
/*background-color: white;*/
}
@media only screen and (max width: 600px){
.ulnav{
  
}
}


.button{
  border-radius: 50px;
  border-width: normal;
  padding: 10px;
  width: fit-content;
  font-family: 'Raleway';
  align-self: center;
  margin-top: 15px;
 }

.button:hover{
  background-color: yellow;
  font-weight: bolder;
  
}
 .main {
   display:flex;
   margin-top:100px;
   justify-content: center;
   align-items: center;

 }
 @media only screen and (max-width: 600px){
 .main{
    display: flex;
    flex-direction: column;
  }
}
  @media only screen and (max-width: 600px){
    .container{
       display: flex;
       flex-direction: column;
     }
 }
 @media only screen and (max-width: 600px){
  .footer{
     display: flex;
     flex-direction: column;
   }
}
@media only screen and (max-width: 600px){
  .ulnav {
    display: 
  }
}
 .headshot{
  height: 40%;
  width: 40%;
  margin-right: 50px;
 }

 .bio{
  padding: 60px;
  flex-direction: column;
  text-align: center;
  align-content: center;
  font-family: 'Raleway';
  background-color: rgb(184, 61, 184);
  border-radius: 10%;
  margin-left: 50px;
 }

section{
  text-align: center;
  padding-top: 100px;
  font-family: 'Raleway Medium';
  padding-bottom: 25px;
}

 .container{
  display: flex;
  border: 5px;
 padding: 5px;
  height: 400px;
  font-family: 'Raleway Medium';
 width: 100%;
 justify-content: center;
 }

.item{
  width: fit-content;
  background-color: rgb(116, 112, 112);
  padding: 30px;
  margin: 50px;
  margin-bottom: 50px;
  text-align: center;
  border-radius: 10%; 
  text-decoration: none;
}
.item:hover{
  text-decoration: underline;
  cursor:pointer;
}
.text{
  padding-top: 20px;
}

 footer {
   height: 200px;
    background-color: rgb(184, 61, 184);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: xx-large;
    font-weight: bold;
    justify-content: space-around;
    z-index: 1;
}
#group{
grid-column: 2;
padding-top: 20px;
}

#sitting{
  transition: all .2s ease-in-out;
}
#sitting:hover{
  transform: scale(1.5);
}
#sitting{
  grid-column: 3;
  padding-top: 20px;
}

#cuphead{
  grid-column: 4;
  padding-top: 20px;
}

/*img{
  opacity: 0.8;
}*/

 


 /*.bio {
   padding: 5%;
 }

 .nav {
   padding: 15px 30 px; 
   box-align: left;
 }
 #row{ 
   justify-content: flex-start;
 }

 .nav a: hover {
background color: white;
 }

 .nav a {
   text-decoration: none;
   font-family: 'Raleway';
 }
 .block {
   text-align: start;

 }*/

 *,
 *::before,
 *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }