header {
   padding: 80px;
   height: 200px;
   background-color: rgb(116, 112, 112);
   font-size: xx-large;
   font-family: 'Raleway Medium';
   text-align: right;
   font-weight: bold;
   }

.ulnav{
display: flex;
padding-right: 70%;
padding-left: 50px;
align-items: baseline;
justify-content: space-around;
font-size:x-large;
font-family: 'Raleway light';
position: fixed;
top:210px; left: 0;
width: 100%;
}

.button{
  border-radius: 50px;
  border-width: normal;
  padding: 10px;
  width: fit-content;
  font-family: 'Raleway';
  align-self: center;
  margin-top: 15px;
 }

.button:hover{
  background-color: yellow;
  font-weight: bolder;
  
}
 .main {
   display:flex;
   margin-top:100px;
   justify-content: space-around;
   align-items: center;
 }
 .headshot{
  height: 50%;
  width: 50%;
  padding: 20px;

 }

 .bio{
  padding: 60px;
  flex-direction: column;
  text-align: center;
  align-content: center;
  font-family: 'Raleway';
  background-color: rgb(184, 61, 184);
  border-radius: 10%;
 }

section{
  text-align: center;
  padding-top: 100px;
  font-family: 'Raleway Medium';
  padding-bottom: 50px;
}

 .container{
  display: flex;
  border: 5px;
 padding: 5px;
  height: 400px;
  font-family: 'Raleway Medium';
 width: 100%;
 justify-content: center;
 }

.item{
  width: fit-content;
  background-color: rgb(116, 112, 112);
  padding: 15px;
  margin: 30px;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
  border-radius: 10%; 
}

.name{
  grid-column: 4;
  z-index: 2;
  font-size: xxlarge; 
}


 footer {
   height: 200px;
    background-color: rgb(184, 61, 184);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: xx-large;
    font-weight: bold;
    justify-content: space-around;
    z-index: 1;
}
#group{
grid-column: 2;
}
#sitting{
  grid-column: 3;
}
#cuphead{
  grid-column: 4;}

/*img{
  opacity: 0.8;
}*/

 


 /*.bio {
   padding: 5%;
 }

 .nav {
   padding: 15px 30 px; 
   box-align: left;
 }
 #row{ 
   justify-content: flex-start;
 }

 .nav a: hover {
background color: white;
 }

 .nav a {
   text-decoration: none;
   font-family: 'Raleway';
 }
 .block {
   text-align: start;

 }*/

 *,
 *::before,
 *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }